{template header}
    <div class="navigation">
    您当前位置：<a  href="{SITE_PATH}">首页</a> >> {catpos($catid, ' &gt;&gt;&nbsp;&nbsp;')}<!--栏目面包屑导航，参考函数教程-->
    </div>
    <div class="blank10 clear"></div>
    <div class="mainpdbox">
        <div class="left">
            <!--list begin-->
		    <div class="newslist">
                <h3>{$catname}</h3> 	
			    <ul class="noborder">
                {list catid=$catid page=$page pagesize=5 order=updatetime}
                <li><span class="date">{date("Y-m-d", $t['updatetime'])}</span> <a href="{$t['url']}">{$t['title']}</a></li>
                {if ($key+1)%5==0}<li class="page-list" style="background:none"></li>{/if}
				<!--这里的$key是list循环控制变量，($key+1)%5==0表示每5行加一段分行代码-->
                {/list}
                </ul>
                <div class="listpage" style="padding-left:10px;">{$pagelist}</div>
		   </div>
	       <!--list end-->
        </div>
        <div class="right">
            <!--right02 begin-->
	        <div class="right02">
		        <div class="title"><span>最新TOP10</span></div>
		        <div class="right02box">
		        <ul>
                {list catid=$catid num=10 order=updatetime cache=36000}
			    <li><span class="N{$key+1}"></span><a href="{$t['url']}">{$t['title']}</a></li>
                {/list}
			    </ul>
		        </div>
		    </div> 
	        <!--right02 end-->
		    <div class="blank10 clear"></div>
	        <!--right02 begin-->
	        <div class="right02">
		       <div class="title"><span>热点TOP10</span></div>
		       <div class="right02box">
		        <ul>
                {list catid=$catid num=10 order=hits cache=36000}
			    <li><span class="N{$key+1}"></span><a href="{$t['url']}">{$t['title']}</a></li>
                {/list}
			    </ul>
		       </div>
		    </div> 
	        <!--right02 end-->
       </div>
    </div>
    <div class="clear blank10"></div>
{template footer}