<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="{ADMIN_THEME}images/reset.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/system.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/dialog.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/switchbox.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/table_form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{ADMIN_THEME}js/jquery.min.js"></script>
<script language="javascript">var sitepath = "{SITE_PATH}{ENTRY_SCRIPT_NAME}";</script>
<script language="javascript" src="{ADMIN_THEME}js/core.js"></script>
<script type="text/javascript" src="{LANG_PATH}lang.js"></script>
<title>admin</title>
</head>
<body style="font-weight: normal;">
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		<a href="{url('admin/member/extend',array('status'=>1,'modelid'=>$modelid,'touserid'=>$touserid))}"><em>{lang('a-con-20')}({$count[1]})</em></a><span>|</span>
		<a href="{url('admin/member/extend',array('status'=>0,'modelid'=>$modelid,'touserid'=>$touserid))}"><em>{lang('a-con-21')}({$count[0]})</em></a><span>|</span>
		<a href="{url('admin/member/extend',array('status'=>2,'modelid'=>$modelid,'touserid'=>$touserid))}"><em>{lang('a-con-22')}({$count[2]})</em></a><span>|</span>
		<a href="{url('admin/member/extend',array('status'=>3,'modelid'=>$modelid,'touserid'=>$touserid))}"><em>{lang('a-con-23')}({$count[3]})</em></a><span>|</span>
		<a href="{url('admin/member/extend',array('type'=>'set','modelid'=>$modelid,'touserid'=>$touserid))}"><em>{lang('a-mod-171')}</em></a><span>|</span>
		<a href="{url('member/extend',array('modelid'=>$modelid,'touserid'=>$touserid))}" target="_blank"><em>{lang('a-mod-186')}</em></a></a><span>|</span>
		<a href="javascript:;" class="on"><em>{lang('a-edit')}</em></a>
	</div>
	<div class="bk10"></div> 
	<div class="table-list">
		<form method="post" action="" id="myform" name="myform">
		<table width="100%" class="table_form">
		<tbody>
		<tr>
			<th width="150">{$model['modelname']}：</th>
			<td>{$data['username']} 对 {$tomember['username']} </td>
		</tr>
		{$fields}
		<tr>
		<th>{lang('a-con-46')}：</th>
			<td>
			<input type="radio" {if !isset($data['status']) || $data['status']==1}checked{/if} value="1" name="data[status]" onClick="$('#verify').hide()"> {lang('a-con-20')}
			&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" {if isset($data['status']) && $data['status']==0}checked{/if} value="0" name="data[status]" onClick="$('#verify').hide()"> {lang('a-con-21')}
			&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" {if isset($data['status']) && $data['status']==2}checked{/if} value="2" name="data[status]" onClick="$('#verify').show()" /> {lang('a-con-33')}
			<span id="verify" {if $data['status']!=2} style="display:none"{/if}>&nbsp;&nbsp;{lang('a-con-47')}：<input type="text" class="input-text" size="50" value="{$data['verify']}" name="data[verify]"></span>
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="submit" class="button" value="{lang('a-submit')}" name="submit" onClick="$('#load').show()">
			<span id="load" style="display:none"><img src="{ADMIN_THEME}images/loading.gif"></span></td>
		</tr>
		</tbody>
		</table>
		<br>
		</form>
	</div>
</div>
</body>
</html>
