<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="{ADMIN_THEME}images/reset.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/system.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/dialog.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/main.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/switchbox.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/table_form.css" rel="stylesheet" type="text/css" />
<script src="{ADMIN_THEME}js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="{ADMIN_THEME}js/dialog.js"></script>

<script type="text/javascript">
var sitepath = "{SITE_PATH}{ENTRY_SCRIPT_NAME}";
var idea_admin_document = "{$setting['document']}";
</script>
<script type="text/javascript" src="{LANG_PATH}lang.js"></script>
<script type="text/javascript" src="{ADMIN_THEME}js/core.js"></script>
<script type="text/javascript">
function ajaxdir() {
  var dir = $('#dir_text').val();
  if (dir == '') {
      $.post(sitepath+'?c=api&a=pinyin&id='+Math.random(), { name:$('#dir').val() }, function(data){ $('#dir_text').val(data); });
  }
}
</script>
<title>后台管理</title>
</head>
<body style="font-weight: normal;">
<div class="subnav">
<div class="content-menu ib-a blue line-x">
<a href='{url("admin/navigate")}' class="on"><em>导航链接列表</em></a><span>|</span>
<a href='{url("admin/navigate/add")}'><em>添加导航链接</em></a>
</div>
<div class="bk10"></div>
<div class="table-list">
<form action="" method="post">
<input name="data[id]" type="hidden" id="id" value="<?php echo $data[id]?>">
<table width="100%" class="table_form ">
 <tbody>
    <tr>
        <th width="200">链接类型：</th>
        <td><input name="data[typeid]" type="radio" value="0" <?php echo $data[typeid]==0 ? "checked" : ''?> onClick="$('#logos').hide();"> 文字链接&nbsp;&nbsp;
        <input name="data[typeid]" type="radio" value="1" <?php echo $data[typeid]==1 ? "checked" : ''?> onClick="$('#logos').show();"> 图片链接&nbsp;&nbsp;
        <input name="data[typeid]" type="radio" value="2" <?php echo $data[typeid]==2 ? "checked" : ''?> onClick="$('#logos').hide();$('#descri').hide();"> 左导航&nbsp;&nbsp;
        <input name="data[typeid]" type="radio" value="3" <?php echo $data[typeid]==3 ? "checked" : ''?> onClick="$('#logos').hide();$('#descri').hide();"> 右导航&nbsp;&nbsp;
        <input name="data[typeid]" type="radio" value="4" <?php echo $data[typeid]==4 ? "checked" : ''?> onClick="$('#logos').hide();$('#descri').hide();"> 自定义链接&nbsp;&nbsp;
        </td>
      </tr>
     <tr>
	<tr>
        <th>网站名称：</th>
        <td><input type="text" class="input-text" style="width:300px;" id="name" value="<?php echo $data[name]?>" name="data[name]">
        </td>
      </tr>
     <tr>
        <th>链接地址：</th>
        <td><input type="text" class="input-text" style="width:300px;" id="url" value="<?php echo $data[url]?>" name="data[url]"></td>
      </tr>
    <tr style="<?php echo $data[typeid]==1 ? "display: table-row;" : 'display:none'?>" id="logos">
        <th>LOGO：</th>
        <td><input type="text" class="input-text" size="50" value="{$data['logo']}" name="data[logo]" id="image" />
        <input type="button" style="width:66px;cursor:pointer;" class="button" onClick="preview('image')" value="{lang('a-image')}" />
        <input type="button" style="width:66px;cursor:pointer;" class="button" onClick="uploadImage('image')" value="{lang('a-upload')}" />
        <div class="onShow">{lang('a-pic')}</div></td>
    </tr>
	<tr>
        <th>简单描述：</th>
        <td><textarea name="data[introduce]" style="width:295px;height:80px;"><?php echo $data[introduce]?></textarea></td>
  </tr>
	<tr>
        <th></th>
        <td><input type="submit" class="button" value="提交" name="submit"></td>
      </tr>
	<tr>
</tbody>
</table>
</form>
</div>
</div>
<script language="javascript">
function preview(obj) {
	var filepath = $('#'+obj).val();
	if (filepath) {
		var content = '<img src="'+filepath+'" />';
	} else {
		var content = '图片地址为空';
	}
	window.top.art.dialog({title:'预览',fixed:true, content: content});
}
</script>
</body>
</html>
