<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="{ADMIN_THEME}images/reset.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/system.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/dialog.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/main.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/switchbox.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/table_form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{ADMIN_THEME}js/jquery.min.js"></script>
<title>admin</title>
</head>
<body style="font-weight: normal;">
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
        <a href="{url('admin/plugin')}"><em>{lang('dr015')}</em></a><span>|</span>
        <a href="{url('admin/plugin/online/')}" class="on"><em>{lang('dr016')}</em></a><span>|</span>
        <a href="{url('admin/plugin/cache')}"><em>{lang('a-cache')}</em></a>
    </div>
</div>
<div class="pad_10">
<div class="table-list" style="padding-top:50px; padding-left:110px">
<img src="{ADMIN_THEME}images/onLoad.gif"> {lang('a-plu-51')}
<meta http-equiv="refresh" content="0; url={$url}">
</div> 
</div>
</body>
</html>