<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="{ADMIN_THEME}images/reset.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/system.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/dialog.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/main.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/switchbox.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/table_form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{ADMIN_THEME}js/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	
});

function confirm_del() {
    if (confirm('{lang('a-confirm')}')) {
	    $('#load').show();
		return true; 
	} else {
	    return false;
	}
}
function setC() {
	if($("#deletec").attr('checked')) {
		$(".deletec").attr("checked",true);
	} else {
		$(".deletec").attr("checked",false);
	}
}
</script>
<title>admin</title>
</head>
<body style="font-weight: normal;">
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		<a href="{url('admin/site/')}" class="on"><em>{lang('a-men-73')}</em></a><span>|</span>
		{if admin_auth($userinfo['roleid'], 'site-add')}<a href="{url('admin/site/add')}"><em>{lang('a-sit-4')}</em></a>{/if}
	</div>
	<div class="bk10"></div>
	<div class="table-list">
		<form action="" method="post" name="myform">
		<table width="100%">
		<thead>
		<tr>
			<th width="20" align="left"><input name="deletec" id="deletec" type="checkbox" onClick="setC()" /></th>
			<th width="20" align="left">ID </th>
			<th width="150" align="left">{lang('a-sit-5')}</th>
			<th width="250"  align="left">{lang('a-sit-6')}</th>
			<th align="left">{lang('a-option')}</th>
		</tr>
		</thead>
		<tbody>
		{loop $list $id=>$t}
		<tr>
			<td align="left"><input name="ids[]" type="checkbox" value="{$id}" {if $id==1}disabled=""{else}class="deletec"{/if} /></td>
			<td align="left">{$id}</td>
			<td align="left">{$t['SITE_NAME']}</td>
			<td align="left"><a href="http://{$t['DOMAIN']}{SITE_PATH}" target="_blank">http://{$t['DOMAIN']}{SITE_PATH}</a></td>
			<td align="left">
			{if admin_auth($userinfo['roleid'], 'site-edit')}<a href="{url('admin/site/edit',array('id'=>$id))}">{lang('a-edit')}</a> | {/if}
			{if admin_auth($userinfo['roleid'], 'site-config')}<a href="{url('admin/site/config',array('id'=>$id))}">{lang('a-sit-7')}</a> | {/if}
			{if admin_auth($userinfo['roleid'], 'site-del')}<a {if $id==1}href="javascript:;" style="color:#999999"{else}href="{url('admin/site/del',array('id'=>$id))}"{/if}>{lang('a-del')}</a>{/if}
			</td>
		</tr>
		{/loop}
		<tr>
			<td colspan="6" align="left"><input {if !admin_auth($userinfo['roleid'], 'site-del')}disabled{/if} type="submit" class="button" value="{lang('a-del')}" name="submit" onclick="return confirm_del()" /></td>
		</tr>
		</tbody>
		</table>
		</form>
    </div>
</div>
</body>
</html>