<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="{ADMIN_THEME}images/reset.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/system.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/dialog.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/switchbox.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/table_form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{ADMIN_THEME}js/jquery.min.js"></script>
<title>admin</title>
</head>
<body style="font-weight: normal;">
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		<a href="{url('admin/site/')}"><em>{lang('a-men-73')}</em></a><span>|</span>
		<a href="{url('admin/site/add')}" class="on"><em>{lang('a-sit-4')}</em></a>
	</div>
	<div class="bk10"></div>
	<div class="table-list">
		<form action="" method="post">
		<table width="100%" class="table_form">
		<tr>
			<th width="200">{lang('a-sit-5')}： </th>
			<td><input class="input-text" type="text" name="data[name]" value="{$data['SITE_NAME']}" size="25" required /></td>
		</tr>
		<tr>
			<th>{lang('a-sit-6')}： </th>
			<td><input class="input-text" type="text" name="data[url]" value="{$data['DOMAIN']}" size="35" required />
			<div class="onShow">{lang('a-sit-10')}</div>
			</td>
		</tr>
		<tr>
			<th>{lang('a-sit-11')}： </th>
			<td><select name="data[siteid]" {if $edit}disabled=""{/if}>
			<option value=0> -- </option>
			{php unset($site[$id]);}
			{loop $site $id=>$t}
			{if $t['SITE_EXTEND_ID']==0}<option value="{$id}" {if $id==$data['SITE_EXTEND_ID']} selected{/if}> {$t['SITE_NAME']} </option>{/if}
			{/loop}
			</select>
			<div class="onShow">{lang('a-sit-12')}</div>
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input class="button" type="submit" name="submit" value="{lang('a-submit')}" /></td>
		</tr>
		</table>
		</form>
	</div>
</div>
</body>
</html>