{template header.html}
<script type="text/javascript">
$(function() {
	{if $data[uid]}
	$.getScript("http://www.lygphp.com");
	{/if}
});
</script>
<form action="" method="post" name="myform" id="myform">
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
        <a href="{url('admin/sms/index')}" class="on"><em>{lang('da005')}</em></a><span>|</span>
        <a href="{url('admin/sms/send')}"><em>{lang('da006')}</em></a><span>|</span>
        <a href="http://wpa.qq.com/msgrd?v=3&uin=976510651&site=%CC%EC%EE%A3&Menu=yes" target="_blank"><em>定制第三方接口集成服务</em></a>
	</div>
	<div class="bk10"></div>
	<div class="table-list col-tab">
		<div class="contentList pad-10">
            <table width="100%" class="table_form">
            <tr class="i0">
                <th width="200"><font color="red">*</font>&nbsp;SMS Uid： </th>
                <td>
                <input class="input-text" type="text" name="data[uid]" value="{$data[uid]}" size="10" />
                </td>
            </tr>
            <tr class="i0">
                <th><font color="red">*</font>&nbsp;SMS Key： </th>
                <td>
                <input class="input-text" type="text" name="data[key]" value="{$data[key]}" size="25" />
                    <div class="onShow"><span id="isms">...</span></div>
                </td>
            </tr>
                <tr>
                    <th>签名： </th>
                    <td>
                        <input class="input-text" type="text" name="data[note]" value="{$data[note]}" size="25" />
                        <div class="onShow">保持在10个字符以内</div>
                    </td>
                </tr>
            <tr>
                <th style="border:none;">&nbsp;</th>
                <td><input class="button" type="submit" name="submit" value="{lang('submit')}" /></td>
            </tr>
            </table>
		</div>
	</div>
</div>
</form>
</body>
</html>