{template header}
<div id="breadcrumb">
    <!-- breadcrumb starts-->
    <div class="container">
        <div class="one-half">
            <h4>{$catname}</h4>
        </div>
        <div class="one-half">
            <nav id="breadcrumbs">
                <!--breadcrumb nav starts-->
                <ul>
                    <li>您当前位置：</li>
                    <li><a  href="{SITE_PATH}">首页</a> > {catpos($catid, ' &gt;&nbsp;&nbsp;')}</li>
                </ul>
            </nav>
            <!--breadcrumb nav ends -->
        </div>
    </div>
</div>
<div id="content" style="margin-bottom: 20px;">
    <!--栏目循环 begin-->
    {php $i=0;}<!--循环控制变量-->
    {loop $cats $c}<!--循环子栏目且为内部栏目-->
    {if $c['parentid']==$catid && $c['typeid']==1}<!--判断当前栏目的子栏目并且循环该栏目的子栏目-->
    {if $i%2==0}<!--分两栏显示--><div class="container">{/if}
    <div class="one-half">
        <div class=" myrow">
            <h4><a href="{$c['url']}">{$c['catname']}</a></h4>
            <ul>
                {list catid=$c[catid] page=$page num=9 order=updatetime}
                <li><span id="date">({date("m-d", $t['updatetime'])})</span><a href="{$t['url']}">{$t['title']}</a></li>
                {/list}
            </ul>
        </div>
    </div>
    {if $i%2==1}<!--最后一栏换行--></div>{/if}
    {php $i++;}
    {/if}
    {/loop}
    {if $i%2==1}<!--如果栏目数不是偶数，就结束div盒--></div>{/if}
    <!--栏目循环 end-->
</div>


{template footer}
