<!DOCTYPE html>
<!--[if lt IE 9]>
<script src="html5.js"></script>
<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{$meta_title} [v{CMS_VERSION}]</title>
	<meta name="keywords" content="{$meta_keywords}" />
	<meta name="description" content="{$meta_description}" />
	<meta name="author" content="976510651@qq.com" >
	<meta name="Copyright" content="IdeaCMS v{CMS_VERSION}" >
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{SITE_THEME}css/style.css" media="screen"/><!-- MAIN STYLE CSS FILE -->
	<link rel="stylesheet" href="{SITE_THEME}css/css.css" media="screen"/><!-- MAIN STYLE CSS FILE -->
	<link rel="stylesheet" href="{SITE_THEME}css/responsive.css" media="screen"/><!-- RESPONSIVE CSS FILE -->
	<link rel="stylesheet" id="style-color" href="{SITE_THEME}css/colors/blue-color.css" media="screen"/><!-- DEFAULT BLUE COLOR CSS FILE -->
	<link rel="stylesheet" href="{SITE_THEME}css/prettyPhoto.css" media="screen"/><!--PRETTYPHOTO CSS FILE -->
	<link rel="stylesheet" href="{SITE_THEME}css/font-awesome/font-awesome.min.css" media="screen"/><!-- FONT AWESOME ICONS CSS FILE -->
	<link rel="stylesheet" href="{SITE_THEME}css/layer-slider.css" media="screen"/><!-- LAYER SLIDER CSS FILE -->
	<link rel="stylesheet" href="{SITE_THEME}css/flexslider.css" media="screen"/><!-- FLEX SLIDER CSS FILE -->
	<link rel="stylesheet" href="{SITE_THEME}css/revolution-slider.css" media="screen"/><!-- REVOLUTION SLIDER CSS FILE -->
	<!-- All JavaScript Files (FOR FASTER LOADING OF YOUR SITE, REMOVE ALL JS PLUGINS YOU WILL NOT USE)-->

	<script type="text/javascript">var homepath = '{SITE_THEME}';var sitepath = '{SITE_PATH}{ENTRY_SCRIPT_NAME}';</script>
	<script type="text/javascript" src="{WEB_THEME}js/jquery.min.js"></script><!-- JQUERY JS FILE -->
	<script type="text/javascript" src="{WEB_THEME}js/jquery-ui.js"></script><!-- JQUERY JS FILE -->
	<script type="text/javascript" src="{WEB_THEME}js/flex-slider.min.js"></script><!-- FLEX SLIDER JS FILE -->
	<script type="text/javascript" src="{WEB_THEME}js/navigation.min.js"></script><!-- MAIN NAVIGATION JS FILE -->
	<script type="text/javascript" src="{WEB_THEME}js/jquery.layerslider.js"></script><!-- LAYER SLIDER JS FILE -->
	<script type="text/javascript" src="{WEB_THEME}js/layerslider.transitions.js"></script><!-- LAYER SLIDER TRANSITIONS JS FILE -->
	<script type="text/javascript" src="{WEB_THEME}js/carousel.js"></script><!-- CAROUSEL SLIDER JS -->
	<script type="text/javascript" src="{WEB_THEME}js/jquery.theme.plugins.min.js"></script><!-- REVOLUTION SLIDER PLUGINS JS FILE -->
	<script type="text/javascript" src="{WEB_THEME}js/jquery.themepunch.revolution.min.js"></script><!-- REVOLUTION SLIDER JS FILE -->

	<script type="text/javascript" src="{WEB_THEME}js/instagram.js"></script><!-- INSTAGRAM WIDGET JS FILE -->
	<script type="text/javascript" src="{WEB_THEME}js/prettyPhoto.min.js"></script><!-- PRETTYPHOTO JS FILE -->
	<script type="text/javascript" src="{WEB_THEME}js/jquery.tooltips.min.js"></script><!-- TOOLTIPS JS FILE -->
	<script type="text/javascript" src="{WEB_THEME}js/isotope.min.js"></script><!--ISOTOPE JS FILE -->
	<script type="text/javascript" src="{WEB_THEME}js/scrolltopcontrol.js"></script><!-- SCROLL TO TOP JS PLUGIN -->
	<script type="text/javascript" src="{WEB_THEME}js/jquery.transit.min.js"></script><!-- TRANSITION JS FILE -->
	<script type="text/javascript" src="{WEB_THEME}js/cookie.js"></script><!-- CUSTOM JAVASCRIPT JS FILE -->
	<script type="text/javascript" src="{WEB_THEME}js/custom2.js"></script><!-- CUSTOM JAVASCRIPT JS FILE -->
</head>
<body>
<div id="container">
	<!-- main container starts-->
	<div id="wrapp">
		<!-- main wrapp starts-->
		<header id="header">
			<!--header starts -->
			<div id="header-links">
				<div class="container">
					<div class="one-half">
						<div class="options-block">
							<a href="#" class="color-box " data-rel="169fe6"></a>
							<a href="#" class="color-box " data-rel="ed5564"></a>
							<a href="#" class="color-box " data-rel="fb6e52"></a>
							<a href="#" class="color-box " data-rel="a0d468"></a>
							<a href="#" class="color-box " data-rel="48cfae"></a>
							<a href="#" class="color-box " data-rel="50c1e9"></a>
							<a href="#" class="color-box " data-rel="5d9cec"></a>
							<a href="#" class="color-box " data-rel="ac92ed"></a>
							<a href="#" class="color-box " data-rel="ec87c1"></a>
							<a href="#" class="color-box " data-rel="ff7534"></a>
							<a href="#" class="color-box " data-rel="656d78"></a>
							<a href="#" class="color-box " data-rel="363a88"></a>
							<a href="#" class="color-box " data-rel="00ba84"></a>
							&nbsp;&nbsp;
							<div id="imore_select">
								<a class="" href="#"><i class="fa fa-heart"></i> 更多颜色</a>
								<div id="imore_color" style="display:none">
									<a href="#" class="color-box " data-rel="e33000"></a>
									<a href="#" class="color-box " data-rel="bf0101"></a>
									<a href="#" class="color-box " data-rel="c69c6d"></a>
									<a href="#" class="color-box " data-rel="0054a6"></a>
									<a href="#" class="color-box " data-rel="fcaf17"></a>
									<a href="#" class="color-box " data-rel="be3b19"></a>
									<a href="#" class="color-box " data-rel="7ecdf1"></a>
									<a href="#" class="color-box " data-rel="92c924"></a>
									<a href="#" class="color-box " data-rel="fe5b42"></a>
									<a href="#" class="color-box " data-rel="f20505"></a>
									<a href="#" class="color-box " data-rel="ef013f"></a>
									<a href="#" class="color-box " data-rel="1bddf2"></a>
									<a href="#" class="color-box " data-rel="c7d93d"></a>
									<a href="#" class="color-box " data-rel="fe6b34"></a>
									<a href="#" class="color-box " data-rel="9adada"></a>
									<a href="#" class="color-box " data-rel="21262a"></a>
									<a href="#" class="color-box " data-rel="555e7b"></a>
									<a href="#" class="color-box " data-rel="e25527"></a>
									<a href="#" class="color-box " data-rel="fa381c"></a>
									<a href="#" class="color-box " data-rel="72ac34"></a>
									<a href="#" class="color-box " data-rel="ff7c8e"></a>
									<a href="#" class="color-box " data-rel="1c7b7f"></a>
									<a href="#" class="color-box " data-rel="ac50cc"></a>
									<a href="#" class="color-box " data-rel="00ced6"></a>
									<a href="#" class="color-box " data-rel="f28b66"></a>
									<a href="#" class="color-box " data-rel="fd665c"></a>
									<a href="#" class="color-box " data-rel="ffce55"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="one-half" style="text-align: right">
						<script type="text/javascript" src="{url('api/user')}"></script>
						<a href="{url('tag')}">关键词</a> &nbsp;&nbsp;&nbsp;
						<a href="{url('content/post')}">我要投稿</a>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="head-wrapp">
					<a href="{SITE_URL}" id="logo"><img src="{SITE_THEME}images/logo.png" alt="ideacms"/><span>真正的永久开源免费</span></a>
					<!--your logo-->
					<nav class="top-search">
						<!-- search starts-->
						<form action="{SITE_URL}index.php" method="get">
							<input type="hidden" name="c" value="content">
							<input type="hidden" name="a" value="search">
							<button class="search-btn"></button>
							<input name="kw" class="search-field" type="text" onblur="if(this.value=='')this.value='Search';" onfocus="if(this.value=='Search')this.value='';" value="Search"/>
						</form>
					</nav>
					<!--search ends -->
				</div>
			</div>
			<div id="main-navigation">
				<!--main navigation wrapper starts -->
				<div class="container">
					<ul class="main-menu">

						<li><a href="{SITE_PATH}" {if $indexc==1}id="current"{/if}>首页</a> </li>
						{loop $cats $t}
						{if $t['parentid']==0 && $t['ismenu']}
						{php $arrchilds = @explode(',', $t['arrchilds']);}
						<li>
							<a href="{$t['url']}" {if isset($catid) && in_array($catid, $arrchilds)}id="current"{/if}>{$t['catname']}</a>
							{if $t['child']}
							<ul>
								{loop $cats $tt}
								{if $tt['parentid']==$t['catid'] && $tt['ismenu']}
								{php $arrchilds = @explode(',', $tt['arrchilds']);}

								<li><a href="{$tt['url']}">{$tt['catname']}</a></li>
								{/if}
								{/loop}
							</ul>
							{/if}
						</li>
						{/if}
						{/loop}
					</ul>
					<!-- main navigation ends-->
					<div class="after-nav-info">
						<h4>技术支持: IdeaCMS</h4>
					</div>
				</div>
			</div>
			<!--main navigation wrapper ends -->
		</header>
		<!-- header ends-->
		<!--layer slider ends-->
