{template header}
<div id="breadcrumb">
    <!-- breadcrumb starts-->
    <div class="container">
        <div class="one-half">
            <h4>{$cat[catname]}</h4>
        </div>
        <div class="one-half">
            <nav id="breadcrumbs">
                <!--breadcrumb nav starts-->
                <ul>
                    <li>您当前位置：</li>
                    <li><a  href="{SITE_PATH}">首页</a> > {catpos($catid, ' &gt;&nbsp;&nbsp;')}</li>
                </ul>
            </nav>
            <!--breadcrumb nav ends -->
        </div>
    </div>
</div>

<div id="content">
<div class="container">
    <div class="one">
        <div class="blog-post">
            <div class="permalink">
                <h4>{$title}</h4>
            </div>
            <ul class="post-meta">
                <li><i class="fa fa-time"></i> {date("Y-m-d H:i:s", $updatetime)} </li>
                <!-- Date -->
                <li><i class="fa fa-user"></i><a href="#">{$username}</a></li>
                <!-- Author -->
                <li><i class="fa fa-thumbs-up"></i><a href="#"><script type="text/javascript" src="{url('api/hits',array('id'=>$id, 'hits'=>$hits))}"></script></a></li>
                <!-- Category -->
            </ul>
            <!-- End post-meta -->
            <div class="one" style="margin-bottom: 20px">
                <div class="one-fourth">
                    <img src="{thumb($thumb)}" height="130" width="160" />
                </div>
                <div class="three-fourth">
                    <ul>
                        <li><span>软件名称：</span> {$title}</li>
                        <li><span>软件大小：</span> {$softsize}</li>
                        <li><span>软件作者：</span> {$developers}</li>
                        <li><span>软件版本：</span> {$version}</li>
                        <li><span>软件语言：</span> {$language}</li>
                        <li><span>操作系统：</span> {php echo implode(',',$os)}</li>
                        <li><span>更新时间：</span> {date("Y-m-d H:i:s", $updatetime)}</li>
                        <li><span>下载次数：</span> <script type="text/javascript" src="{url('api/hits',array('id'=>$id,'hits'=>$hits))}"></script></li>
                    </ul>
                </div>
            </div>
            <div class="post-intro">

                <!--下载链接-->
                <p>
                {loop $downdata['file'] $k=>$file}
                <a href="{downfile($file)}" class="button color small round">{$downdata['alt'][$k]}</a>  
                {/loop}
                </p>

                <!--文章内容分页 begin-->
                {$content}
                {if $contentpage}
                <div class="cpage">
                    {loop $contentpage $i=>$u}
                    <a{if $page!=$i} href="{$u}"{/if}>{$i}</a>
                    {/loop}
                </div>
                <div class="clear blank10"></div>
                {/if}
                <!--文章内容分页 end-->
                <!--标签关键字 begin-->
                {if $kws=get_tag_data($keywords)}
                <div class="articlekey"><strong>TAG：</strong>
                    {loop $kws $t}
                    <a href="{tag_url($t)}">{$t}</a>
                    {/loop}
                </div>
                {/if}
                <!--标签关键字 end-->
            </div>
            <div class="horizontal-line">
            </div>
            <div class="articlebook">
                {if $prev_page}<p><strong>上一篇：</strong><a href="{$prev_page['url']}">{$prev_page['title']}</a> </p>{/if}
                {if $next_page}<p><strong>下一篇：</strong><a href="{$next_page['url']}">{$next_page['title']}</a> </p>{/if}
            </div>
            {if plugin('digg')}<div class="clear blank10"></div><script type="text/javascript" src="{url('digg/index/show', array('id'=>$id))}"></script>{/if}
            {if plugin('mood')}<div class="clear blank10"></div><script type="text/javascript" src="{url('mood/index/show', array('id'=>$id))}"></script>{/if}

            {if $commentCfg}
            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="{$id}" data-title="{$title}" data-url="{$pageurl}"></div>
            <!-- 多说评论框 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
                var duoshuoQuery = {short_name:"ideascms"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                    || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            <!-- 多说公共JS代码 end -->
            {/if}


        </div>
    </div>
</div>
</div>

{template footer}