{template header}
<div id="breadcrumb">
    <!-- breadcrumb starts-->
    <div class="container">
        <div class="one-half">
            <h4>{$cat[catname]}</h4>
        </div>
        <div class="one-half">
            <nav id="breadcrumbs">
                <!--breadcrumb nav starts-->
                <ul>
                    <li>您当前位置：</li>
                    <li><a  href="{SITE_PATH}">首页</a> > {catpos($catid, ' &gt;&nbsp;&nbsp;')}</li>
                </ul>
            </nav>
            <!--breadcrumb nav ends -->
        </div>
    </div>
</div>

<div id="content">
<div class="container">
    <div class="one">
        <div class="media-holder">
            <div class="flexslider portfolio-items-slider slide">
                <ul class="slides">
                    {loop $tupian['file'] $k=>$t}
                    <li><img src="{thumb($t)}" height="250" style="height:250px" alt="{$tupian['alt'][$k]}"/></li>
                    {/loop}
                </ul>
            </div>
        </div>
        <div class="blog-post">
            <div class="permalink">
                <h4>{$title}</h4>
            </div>
            <ul class="post-meta">
                <li><i class="fa fa-time"></i> {date("Y-m-d H:i:s", $updatetime)} </li>
                <!-- Date -->
                <li><i class="fa fa-user"></i><a href="#">{$username}</a></li>
                <!-- Author -->
                <li><i class="fa fa-thumbs-up"></i><a href="#"><script type="text/javascript" src="{url('api/hits',array('id'=>$id, 'hits'=>$hits))}"></script></a></li>
                <!-- Category -->
            </ul>
            <!-- End post-meta -->
            <div class="one" style="margin-bottom: 20px">
                <div class="one-fourth">
                    <img src="{thumb($thumb)}" height="130" width="160" />
                </div>
                <div class="three-fourth">
                    <ul>
                        <li><span>租　金：</span> {$zujin} 元/月({$zujinleixing})</li>
                        <li><span>户　型：</span> {$shi}室{$ting}厅{$wei}卫{$mianji}平方</li>
                        <li><span>类　型：</span> {$zhuangxiu}，第{$louceng}层，共{$zongceng}层 </li>
                        <li><span>配　置：</span> {php echo implode(',', $peizhi);}</li>
                        <li><span>区　域：</span> {linkagepos(1, $quyu, url('content/list', array('catid'=>$catid, 'area'=>'{linkageid}')))}<!--你可以在这里自定义url地址--></li>
                        <li><span>小　区：</span> {$xiaoqu}</li>
                        <li><span>地　址：</span> {$dizhi}</li>
                        <li><span>电　话：</span> {$dianhua}</li>
                        <li><span>更　新：</span> {date("Y-m-d H:i:s", $updatetime)}</li>
                        <li><span>人　气：</span> <script type="text/javascript" src="{url('api/hits',array('id'=>$id,'hits'=>$hits))}"></script></li>
                    </ul>
                </div>
            </div>
            <div class="post-intro">

                <!--地图坐标-->
                <p>{baiduMap($modelid, 'ditu', $ditu, 600, 400)}
                </p>
                <!--文章内容分页 begin-->
                {$content}
                {if $contentpage}
                <div class="cpage">
                    {loop $contentpage $i=>$u}
                    <a{if $page!=$i} href="{$u}"{/if}>{$i}</a>
                    {/loop}
                </div>
                <div class="clear blank10"></div>
                {/if}
                <!--文章内容分页 end-->
                <!--标签关键字 begin-->
                {if $kws=get_tag_data($keywords)}
                <div class="articlekey"><strong>TAG：</strong>
                    {loop $kws $t}
                    <a href="{tag_url($t)}">{$t}</a>
                    {/loop}
                </div>
                {/if}
                <!--标签关键字 end-->
            </div>
            <div class="horizontal-line">
            </div>
            <div class="articlebook">
                {if $prev_page}<p><strong>上一篇：</strong><a href="{$prev_page['url']}">{$prev_page['title']}</a> </p>{/if}
                {if $next_page}<p><strong>下一篇：</strong><a href="{$next_page['url']}">{$next_page['title']}</a> </p>{/if}
            </div>
            {if plugin('digg')}<div class="clear blank10"></div><script type="text/javascript" src="{url('digg/index/show', array('id'=>$id))}"></script>{/if}
            {if plugin('mood')}<div class="clear blank10"></div><script type="text/javascript" src="{url('mood/index/show', array('id'=>$id))}"></script>{/if}

            {if $commentCfg}
            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="{$id}" data-title="{$title}" data-url="{$pageurl}"></div>
            <!-- 多说评论框 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
                var duoshuoQuery = {short_name:"ideascms"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                    || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            <!-- 多说公共JS代码 end -->
            {/if}


        </div>
    </div>
</div>
</div>

{template footer}