{template header}
<div id="breadcrumb">
    <!-- breadcrumb starts-->
    <div class="container">
        <div class="one-half">
            <h4>{$kw}</h4>
        </div>
        <div class="one-half">
            <nav id="breadcrumbs">
                <!--breadcrumb nav starts-->
                <ul>
                    <li>您当前位置：</li>
                    <li><a  href="{SITE_PATH}">首页</a> > TAG：{$kw}</li>
                </ul>
            </nav>
            <!--breadcrumb nav ends -->
        </div>
    </div>
</div>

<div id="content">
<div class="container">
    <div class="one">
        {loop $taglist $key=>$t}
        <div class="blog-post">
            <div class="permalink">
                <h4><a href="{$t['url']}">{$t['title']}</a></h4>
            </div>
            <ul class="post-meta">
                <li><i class="fa fa-time"></i> {date("Y-m-d", $t['updatetime'])} </li>
                <!-- Date -->
                <li><i class="fa fa-user"></i><a href="#">{$t[username]}</a></li>
                <!-- Author -->
                <li><i class="fa fa-tags"></i><a href="{$cats[$t[catid]][url]}">{$cats[$t[catid]][catname]}</a></li>
                <!-- Category -->
            </ul>
            <!-- End post-meta -->
            <div class="post-intro">
                <p>{$t[description]}</p>
            </div>
        </div>
        {/loop}
        {$pagelist}
    </div>
</div>
</div>

{template footer}