.top-search { margin-top: 25px; }
a#logo span { margin-top: 40px; }
#header-links { margin-bottom: 20px; }
.intro-features { margin-top:30px; }
.head-wrapp { margin-bottom: 20px; }
.color-box, .bg-box, .pattern-box {
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    display: block;
    float: left;
    height: 19px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 0;
    transition: all 0.25s ease 0s;
    width: 19px;
}
.color-box:hover, .bg-box:hover, .pattern-box:hover, .color-box.active {
    border: 2px solid #434A54;
}
.ilink_list li { float:left; padding-right:10px;}
.ilink_list { margin-bottom:30px; margin-top: 10px;}
#imore_select { float:left; padding-left:10px; }
#imore_color {
    position: absolute;
    width: 220px;
    z-index:9999;
}
.ilink a {
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    color: #797979;
    display: inline-block;
    font-family: '寰蒋闆呴粦',sans-serif;
    font-size: 12px;
    padding: 5px 8px;
    text-decoration: none;
    transition: all 0.17s ease-in-out 0s;
}
.select-list {
    margin-bottom: 50px;
}
.select-list .h4 {
    font-size: 14px;
    font-weight: bold;
}

.ilink li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 6px;
    border-bottom:none !important;
    padding: 0 !important;
    width:auto !important;
}
.main-menu li:last-child a {
    border-right: none;
}
.main-menu li:first-child a {
    border-left: none;
}
.drzs .portfolio-item:hover a.item-preview { right: 39.5% }
.portfolio-item {
    border: 1px solid #e6e9ee;
    border-bottom:none;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 4px!important;
}
.portfolio-item-title {
    border-radius: 4px!important;

}
.main-menu .current {
    margin-left: 0;
    padding-left: 20px;
    position: relative;
    z-index: 8;
    background-color: #CCD0D9;
    border-right: 1px solid #CCD0D9;
}
.work-time span { float:left; padding-right:10px;}
.work-time a { float:left; }
.timeline {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
    margin-bottom:30px;
}
.timeline:before {
    background-color: #C7CBD6;
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 0;
}
h3.timeline-title {
    color: #C8CCD7;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 5px;
    text-transform: uppercase;
}
.t-info {
    color: #C8CCD7;
}
.timeline-item:before, .timeline-item.alt:after {
    content: "";
    display: block;
    width: 50%;
}
.timeline-item {
    display: table-row;
}
.timeline-desk {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    padding-left: 10px;
}
.timeline-desk h1 {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 5px;
    padding-left: 10px;

}
.timeline-desk .panel {
    background: none repeat scroll 0 0 #F4F4F4;
    display: block;
    margin-left: 25px;
    position: relative;
    text-align: left;
}
.timeline-item .timeline-desk .arrow {
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    border-top: 8px solid rgba(0, 0, 0, 0);
    display: block;
    height: 0;
    left: -7px;
    position: absolute;
    top: 13px;
    width: 0;
}
.timeline-item .timeline-desk .arrow {
    border-right: 8px solid #F4F4F4 !important;
}
.timeline-item.alt .timeline-desk .arrow-alt {
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    border-top: 8px solid rgba(0, 0, 0, 0);
    display: block;
    height: 0;
    left: auto;
    position: absolute;
    right: -7px;
    top: 13px;
    width: 0;
}
.timeline-item.alt .timeline-desk .arrow-alt {
    border-left: 8px solid #F4F4F4 !important;
}
.timeline .timeline-icon {
    left: -43px;
    position: absolute;
    top: 15px;
}
.timeline .timeline-icon {
    background: none repeat scroll 0 0 #C7CBD6;
    box-shadow: 0 0 0 3px #C7CBD6;
}
.timeline-desk span a {
    text-transform: uppercase;
}
.timeline-desk h1.red, .timeline-desk span a.red {
    color: #EF6F66;
}
.timeline-desk h1.green, .timeline-desk span a.green {
    color: #39B6AE;
}
.timeline-desk h1.blue, .timeline-desk span a.blue {
    color: #56C9F5;
}
.timeline-desk h1.purple, .timeline-desk span a.purple {
    color: #8074C6;
}
.timeline-desk h1.light-green, .timeline-desk span a.light-green {
    color: #A8D76F;
}
.timeline .timeline-icon.red {
    background: none repeat scroll 0 0 #EF6F66;
    box-shadow: 0 0 0 3px #EF6F66;
}
.timeline .timeline-icon.green {
    background: none repeat scroll 0 0 #39B6AE;
    box-shadow: 0 0 0 3px #39B6AE;
}
.timeline .timeline-icon.blue {
    background: none repeat scroll 0 0 #56C9F5;
    box-shadow: 0 0 0 3px #56C9F5;
}
.timeline .timeline-icon.purple {
    background: none repeat scroll 0 0 #8074C6;
    box-shadow: 0 0 0 3px #8074C6;
}
.timeline .timeline-icon.light-green {
    background: none repeat scroll 0 0 #A8D76F;
    box-shadow: 0 0 0 3px #A8D76F;
}
.timeline .timeline-icon {
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    display: block;
    height: 12px;
    width: 12px;
}
.timeline-item.alt .timeline-icon {
    left: auto;
    right: -35px;
}
.timeline .time-icon:before {
    font-size: 16px;
    margin-top: 5px;
}
.timeline .timeline-date {
    left: -200px;
    position: absolute;
    text-align: right;
    top: 12px;
    width: 150px;
}
.timeline-desk h5 span {
    color: #999999;
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
}
.timeline-item.alt:before {
    display: none;
}
.timeline-item:before, .timeline-item.alt:after {
    content: "";
    display: block;
    width: 50%;
}
.timeline-desk p {
    font-size: 12px;
    margin-bottom: 0;
    overflow: hidden;
    padding: 0 10px 10px 10px;
}
.mt40 {
    clear:both;
    margin-top: 40px;
    padding-top: 1px;
}
.timeline-desk .panel {
    margin-bottom: 5px;
}
.timeline-desk .album {
    margin-top: 20px;
}
.timeline-desk .album a {
    float: left;
    margin-right: 5px;
}
.timeline-desk .notification {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-top: 20px;
    padding: 8px;
}
.timeline-item.alt .panel {
    margin-left: 0;
    margin-right: 25px;
}
.timeline-item.alt .timeline-date {
    left: auto;
    right: -200px;
    text-align: left;
}
.ww {
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    color: #797979;
    font-size: 12px;
    padding: 20px 30px 40px 30px;;
    transition: all 0.17s ease-in-out 0s;
}
.dr-pz {
    margin-right:12px;
}
.dr-pz li {
    margin-bottom:7px;
}
.dr-xz {
    text-align: center;
    clear:both;
}
.dr-xz a {
    margin-right:10px;
}
.dr-gn .col-md-3 {
    padding-left:0;
    margin-top:10px;
}
.dr-zs .hover-box a.zoom {
    right: 40% !important;
}
.mfp-close {
    cursor: pointer !important;
}
.dr-body {
    margin-top:20px;
}
.dr-body p {
    color: #000 !important;
    font-size:14px !important;
}
.dr-comment * {
    -moz-box-sizing:content-box !important;
}
.top-scroll {
    bottom: 65px;
    height: 50px;
    position: fixed;
    right: 2%;
    width: 50px;
    z-index: 9998;
}
.top-scroll a {
    background: url("../images/arrow2.png") repeat scroll center center rgba(0, 0, 0, 0.6);
    display: block;
    height: 50px;
}
.top-scroll a:hover {
    background: url("../images/arrow2.png") repeat scroll center center rgba(124, 203, 252, 0.6);
}
.myrow {
    padding:5px;
    text-align: left !important;
    height: auto !important;
}
.myrow h4 {
    border-bottom: 1px solid rgba(0,0,0,0.10);
    padding-top: 5px;
    padding-bottom: 8px;
}
.myrow li span{
    padding-right: 5px;
}
.myrow li {
    line-height: 25px;
}
#content {
    min-height: 400px;
}