{template member/header}
<link href="{ADMIN_THEME}images/table_form.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/dialog.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{ADMIN_THEME}js/dialog.js"></script>
<script type="text/javascript" src="{LANG_PATH}lang.js"></script>
<script type="text/javascript" src="{ADMIN_THEME}js/core.js"></script>
<!--Wrapper-->
<div id="wrapper">
	<div class="top"></div>
	<div class="center">
	    <div class="center_left">
	        <h3>内容管理</h3>
			<div class="menu_left">
			<ul>
            {loop $navigation $n=>$t}
                <li {if $n && $form['tablename']==$n} class="on"{/if}><a href="{$t['url']}">{$t['name']}</a></li>
            {/loop}
			</ul>
			</div>
        </div>
		<div class="center_right">
            <div class="title_right1"></div>
			<div class="content_info">
				<form action="" method="post">
                <table width="100%" class="table_form" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <th width="100">&nbsp;修改</th>
                    <td></td>
                </tr>
				<tr>
                    <th>&nbsp;提交人：</th>
                    <td>{$data['username']}</td>
                </tr>
				<tr>
                    <th>&nbsp;提交时间：</th>
                    <td><span style="{if date('Y-m-d', $data['updatetime']) == date('Y-m-d')}color:#F00{/if}">{date('Y-m-d H:i', $data['updatetime'])}</span></td>
                </tr>
				<tr>
                    <th>&nbsp;IP地址：</th>
                    <td>{$data['ip']}</td>
                </tr>
				{$data_fields}
                <tr>
                    <th style="border:none">&nbsp;</th>
                    <td style="border:none"><input type="submit" class="button" value="提 交" name="submit"></td>
                </tr>
                </tbody>
                </table>
				</form>
		    </div>
        </div>
	</div>
    <div class="bottom"></div>
</div>
<!--Wrapper End-->
{template member/footer}