html,body {
    height: 100%;
}
.box {
    background-color: #09c;

    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
}
.login-box {

    width: 100%;
    max-width:500px;
    height: 400px;
    position: absolute;
    top: 50%;

    margin-top: -200px;
    /*设置负值，为要定位子盒子的一半高度*/

}

@media screen and (min-width:500px){
    .login-box {
        left: 50%;
        /*设置负值，为要定位子盒子的一半宽度*/
        margin-left: -250px;
    }
}

.form {
    width: 100%;
    max-width:500px;
    height: 285px;
    margin: 25px auto 0px auto;
    padding-top: 25px;
}
.login-content {
    height: 320px;
    width: 100%;
    max-width:500px;
    background-color: rgba(255, 250, 255, .6);
    float: left;
}


.input-group {
    margin: 0px 0px 30px 0px !important;
}
.form-control,
.input-group {
    height: 40px;
}

.form-group {
    margin-bottom: 0px !important;
}
.btn-info {
    background: #09c;
}
.login-title {
    padding: 20px 10px;
    background-color: rgba(33, 33, 33, .3);
}
.login-title h1 {
    margin-top: 10px !important;
}
.login-title small {
    color: #fff;
}

.link p {
    line-height: 20px;
    margin-top: 30px;
}
.btn-sm {
    padding: 8px 24px !important;
    font-size: 16px !important;
}
.form-code{

}

.form-code-img{
    background:none;
    border: none;

}
