{template header}
<body id="account"> 
<header class=" ">
    <div class="left-box"><a class="goback" href="javascript:history.back()"><label>返回</label></a></div>
    <h1>完善资料</h1>
</header>
<div id="login" class="body account">
    <form id="login-form" method="post" action="">
        <p><input id="username" class="common-text" type="text" placeholder="请输入您的会员昵称" name="data[nickname]" value="" /></p>
        <p class="c-submit "><input type="submit" name="submit" value="完善资料" /></p>
    </form>
</div>
{template footer}