{list catid=$catid order=updatetime page=$page pagesize=5}
<section>
    <a href="{url('content/show', array('id'=>$t['id']))}">
        <img width="122" height="74" src="{thumb($t['thumb'])}" />
        <detail>
            <ul>
                <li class="brand">{$t['title']}</li>
                <li class="title indent">{strcut($t['description'],44)}</li>
            	<li class="price"><strong>{date('Y-m-d', $t['updatetime'])}</strong><span>阅读{$t['hits']}</span></li>
            </ul>
        </detail>
    </a>
</section>
{/list}