<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" /> 
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-startup-image" href="{SITE_THEME}images/startup.png" />
<link rel="apple-touch-icon-precomposed" sizes="57x57"   href="{SITE_THEME}images/apple-touch-icon-57x57-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72"   href="{SITE_THEME}images/apple-touch-icon-72x72-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{SITE_THEME}images/apple-touch-icon-114x114-precomposed.png" />
<title>{$meta_title}</title>
<link rel="stylesheet" href="{SITE_THEME}images/style.css" />
<script type="text/javascript" src="{ADMIN_THEME}js/jquery.min.js"></script>
<!--<script type="text/javascript">
$(document).ready(function(){
	$("#fc_load").hide();
	$("a").click(function(){
		var sh = $(window).scrollTop();
		var wh = $(window).height();
		var ww = $(window).width();
		$("#fc_load").css("top", Number(sh)+(Number(wh)-110));
		$("#fc_load").css("left", Number(ww)/2);
		$("#fc_load").show();
	});
});
</script>-->
</head>