{template header}
<script type="text/javascript" src="{WEB_THEME}js/show.js"></script>
<body>
<header>
	<div class="left-box"><a class="goback" href="{SITE_PATH}"><label>首页</label></a></div>
	<h1>{$catname}</h1>
</header>
{template banner}
<div class="current-category">您当前的位置：{$catname}</div>
<div class="detail-head-title"><h1 class="article-title x-centered">{$catname}</h1></div>
<div id="content">
    <div class="detail-panel">
    {$content}
    </div>
</div>
<div id="deals-page" class="">
    <div id="nav-more"><span class="nav-button">返回栏目</span></div>
    <div id="nav-top"><span class="nav-button"><label onClick="javascript:scroll(0,0)">回到顶部</label></span></div>
</div>
{template footer}