{template header}
<body id="index">
<script type="text/javascript" src="{WEB_THEME}js/show.js"></script>
<header>
	<div class="left-box"><a class="goback" href="javascript:history.back()"><label>返回</label></a></div>
	<h1>{$cat['catname']}</h1>
</header>
{template banner}
<div class="current-category">您当前的位置：{$cat['catname']} > 正文</div>
<div id="content">
    <div class="detail-head-title">
        <h1 class="article-title x-centered">{$title}</h1>
        <div class="x-centered post-time">{date('Y-m-d H:i:s', $updatetime)} (<script type="text/javascript" src="{url('api/hits',array('id'=>$id))}"></script>)</div>
    </div>
    <div class="detail-panel">
        <ul>
            <li><span>软件名称：</span> {$title}</li>
            <li><span>软件大小：</span> {$softsize}</li>
            <li><span>软件作者：</span> {$developers}</li>
            <li><span>软件版本：</span> {$version}</li>
            <li><span>软件语言：</span> {$language}</li>
            <li><span>操作系统：</span> {php echo implode(',',$os)}</li>
        </ul>
    </div>
    <div id="deal">
    	<section class="deal-box">
            <h1 class="tag current">介绍信息</h1>
            <div class="tab-box">
            {$content}
            </div>
        </section>
        <section class="deal-box">
            <h1 class="tag current">下载地址</h1>
            <div class="tab-box">
            {loop $downdata['file'] $k=>$file} 
            <li><a href="{getfile($file)}">{$downdata['alt'][$k]}</a></li>
            {/loop}
            </div>
        </section>
    </div>
    <div id="deals-page" class="">
        <div id="nav-more"><span class="nav-button">返回列表</span></div>
        <div id="nav-top"><span class="nav-button"><label onClick="javascript:scroll(0,0)">回到顶部</label></span></div>
    </div>
</div>
{template footer}