{template header}
<body id="index">
<script type="text/javascript" src="{MOBILE_THEME}js/show.js"></script>
<header>
	<div class="left-box"><a class="goback" href="javascript:history.back()"><label>返回</label></a></div>
	<h1>{$cat['catname']}</h1>
</header>
{template banner}
<div class="current-category">您当前的位置：{$cat['catname']} > 正文</div>
<div class="detail-head-title">
    <h1 class="article-title x-centered">{$title}</h1>
    <div class="x-centered post-time">{date('Y-m-d H:i:s', $updatetime)} (<script type="text/javascript" src="{url('api/hits',array('id'=>$id))}"></script>)</div>
</div>
<div id="content">
    <div class="detail-panel">
    {if $thumb}
    <p style="text-align: center; text-indent: 0px;">
    <div style="text-align: center; position: relative; margin: 0px auto 20px;"><img src="{image($thumb)}"></div>
    </p>
    {/if}
    {$content}
    </div>
</div>
<div id="deals-page" class="">
    <div id="nav-more"><span class="nav-button">返回列表</span></div>
    <div id="nav-top"><span class="nav-button"><label onClick="javascript:scroll(0,0)">回到顶部</label></span></div>
</div>
{template footer}
